version: "3.9"
services:
  web:
    build:
      context: .
      target: dev
    env_file: .env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/remoof
      REDIS_URL: redis://redis:6379
      SMTP_HOST: mailhog
      SMTP_PORT: 1025
      MINIO_ENDPOINT: http://minio:9000
      STORAGE_PATH: /app/public/uploads
      NEXTAUTH_URL: http://localhost:3000
      APP_URL: http://localhost:3000
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - ./public/uploads:/app/public/uploads
    depends_on:
      - db
      - redis
      - mailhog
      - minio
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: remoof
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"
  mailhog:
    image: mailhog/mailhog
    restart: unless-stopped
    ports:
      - "8025:8025"
  minio:
    image: minio/minio
    command: server /data
    environment:
      MINIO_ROOT_USER: remoof
      MINIO_ROOT_PASSWORD: remoofsecret
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
volumes:
  pgdata: {}
  minio-data: {}
